@import 'windplus/styles/main';

body {
  @apply bg-gray-50 text-gray-900;
}

@layer base {
  :root {
    --color-text-base: #171717;
    --color-fill: #ffffff;
    --color-icon-fill: #1d4ed8;
    --color-text-icon: #ffffff;
  }
}

.feature-blue {
  --color-text-base: #ffffff;
  --color-fill: #2563eb;
  --color-icon-fill: #1d4ed8;
  --color-text-icon: #ffffff;
}
